<h1 class="off-white">Admin Dashboard</h1>

<p class="off-white">Welcome, <%= current_user.email %>! You are signed in as admin.</p>

<a href="/admin/books">Click here to add Book entries</a>

<p class="off-white">Find me in app/views/admin/dashboard.html.erb</p>
