<h1 class="off-white">Admin Dashboard</h1>

<p class="off-white">Welcome, <%= current_user.email %>! You are signed in as admin. See the navbar for forms.</p>

<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-light libre-franklin" %>
