<div title="page-title">
  <h1 class="fire-red"><em>My Reading</em></h1>
</div>

<div title="decription-and-notes">
  <p class="off-white">
    Since finishing up my bachelor's in March, I have taken up the hobby of reading—but solely for my own pleasure this time around. While my reading journey is still budding, it has been very exciting, and I have a robust list of book I'd like to read in the future. Many people claim that they don't like to read, and I believe they are mistaken. What I have learned in my journey so far is that they simply have not yet discovered what they love to read. To help myself discover what I love to read, I have kept a detailed log of what I have been reading, giving ratings for each of my reads.
  </p>
  <p>
    A note on my "notes": My notes are very casual and my arguments may be left entirely unjustified. Treat these notes more as journal entries or reflections rather than formal reviews. I write these notes for myself to look back on, and I am posting them here as well simply as an invitation to thought. Finally, <b><em>SPOILER ALERT:</em></b> My notes are filled with spoilers. I will thus leave them as drop-downs, only visible upon clicking on them. 
  </p>
</div>

<br><br>

<div title="reading-log-entries">
  <div title="Endurance">
    <h3 class="ice-blue">Endurance: Shackleton’s Incredible Voyage</h3>
    <div title="notes-accordion" class="accordion" id="endurance_notes_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#endurance_collapse_notes" aria-expanded="false" aria-controls="endurance_collapse_notes">
              <strong>Notes (spoiler alert)</strong>
            </button>
          </h2>
          <div id="endurance_collapse_notes" class="accordion-collapse collapse" data-bs-parent="#reading_log_notes_accordion">
            <div class="accordion-body">
              HERE ARE MY NOTES
            </div>
          </div>
        </div>
    </div>

    <div title="notes-collapse">
      <p class="d-inline-flex gap-1">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-bs-target
      </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
  </div>

  <div title="1984">
    <h3 class="ice-blue">1984</h3>
    <p class="ice-blue">by George Orwell</p>
    <dl>
      <dt>
        Genre
      </dt>
      <dd>
        Dystopian Fiction
      </dd>
      <dt>Genre</dt>
      <dd>Dystopian Fiction</dd>
    </dl>

    <div title="notes-accordion" class="accordion" id="1984_notes_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_my_notes" aria-expanded="false" aria-controls="collapse_my_notes">
              <strong>Notes (spoiler alert)</strong>
            </button>
          </h2>
          <div id="collapse_my_notes" class="accordion-collapse collapse" data-bs-parent="#reading_log_notes_accordion">
            <div class="accordion-body">
              	How do we know what we are told is true? What happens when you go against everyone around you? Authoritarianism, suppression, truth, surveillance. In the second half of the book, we see Winston’s terrible torture and decay. We see a man completely crushed. His mind is chewed up, swallowed, and spat out again into something entirely different. At the end of the book, Winston is not even a shell of what he once was. I had previously thought that people only liked 1984 because it calls out surveillance, totalitarianism, and fake news. These things only scrape the surface of the novel. Great read overall.
            </div>
          </div>
        </div>
    </div>

    <div title="notes-collapse">
      <p class="d-inline-flex gap-1">
      <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#1984-notes" aria-expanded="false" aria-controls="1984-notes">
        Notes (spoiler alert)
      </button>
      </p>
      <div class="collapse" id="1984-notes">
        <div class="card card-body">
          	How do we know what we are told is true? What happens when you go against everyone around you? Authoritarianism, suppression, truth, surveillance. In the second half of the book, we see Winston’s terrible torture and decay. We see a man completely crushed. His mind is chewed up, swallowed, and spat out again into something entirely different. At the end of the book, Winston is not even a shell of what he once was. I had previously thought that people only liked 1984 because it calls out surveillance, totalitarianism, and fake news. These things only scrape the surface of the novel. Great read overall.
        </div>
      </div>
    </div>
  </div>

</div>
