<div class="container py-5">

  <div title="page-title" class="py-4">
    <h1 class="fire-red"><em>Reading</em></h1>
  </div>

  <div title="reading-description" class="py-2">
    <p class="off-white">
      Since finishing up my bachelor's in March, I have taken up the hobby of reading—but solely for my own enrichment this time around. While my reading journey is still budding, I have learned a lot so far, and I have a robust list of books I'd like to read in the future. Many people claim that they don't like to read, and I believe they are mistaken. What I have learned in my journey is that they simply have not yet discovered what they love to read. To help myself discover what I love to read, I have kept a detailed log of what I have been reading, giving ratings for each of my reads.
    </p>
    <p>
      A note on my "notes": My notes are very casual and my arguments may be left entirely unjustified. Treat these notes more as journal entries or reflections rather than formal reviews. I write these notes for myself to look back on, and I am posting them here as well simply as an invitation to thought. Finally, <span class="fire-red"><b><em>SPOILER ALERT:</em></b></span> My notes are filled with spoilers. I will thus leave them as drop-downs, only visible once clicked on. 
    </p>
  </div>

  <div>
    <h3 class="fire-red vpadding-thick">
      Reading Log
    </h3>
  </div>


  <div class="reading-log-table">

    <div class="vpadding-thick">
      <div class="row">
        <div class="col-6 legend-box">
          <h3 class="legend-text">Title</h3>
        </div>
        <div class="col-6">
          <h3 class="legend-text">Rating</h3>
        </div>
      </div>
    </div>

    <div title="Endurance">
      <div class="vpadding-thick">
      <div class="row">
        <div class="col-6">
          <h3 class="book-title">
            Endurance: Shackleton's Incredible Voyage
            <br>
            by Alfred Lansing
          </h3>
        </div>
        <div class="col-6">
          <h3 class="book-rating">
            9/10
          </h3>
        </div>
      </div>
    </div>
    </div>

    <div title="1984">
      <h3 class="warm-gold">1984</h3>
      <p class="warm-gold">by George Orwell</p>
      <dl>
        <dt>
          Genre
        </dt>
        <dd>
          Dystopian Fiction
        </dd>
        <dt>Genre</dt>
        <dd>Dystopian Fiction</dd>
      </dl>

      <div title="notes-accordion" class="accordion" id="1984_notes_accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_my_notes" aria-expanded="false" aria-controls="collapse_my_notes">
                <strong>Notes (spoiler alert)</strong>
              </button>
            </h2>
            <div id="collapse_my_notes" class="accordion-collapse collapse" data-bs-parent="#reading_log_notes_accordion">
              <div class="accordion-body">
                  How do we know what we are told is true? What happens when you go against everyone around you? Authoritarianism, suppression, truth, surveillance. In the second half of the book, we see Winston’s terrible torture and decay. We see a man completely crushed. His mind is chewed up, swallowed, and spat out again into something entirely different. At the end of the book, Winston is not even a shell of what he once was. I had previously thought that people only liked 1984 because it calls out surveillance, totalitarianism, and fake news. These things only scrape the surface of the novel. Great read overall.
              </div>
            </div>
          </div>
      </div>

      <div title="notes-collapse">
        <p class="d-inline-flex gap-1">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#1984-notes" aria-expanded="false" aria-controls="1984-notes">
          Notes (spoiler alert)
        </button>
        </p>
        <div class="collapse" id="1984-notes">
          <div class="card card-body">
              How do we know what we are told is true? What happens when you go against everyone around you? Authoritarianism, suppression, truth, surveillance. In the second half of the book, we see Winston’s terrible torture and decay. We see a man completely crushed. His mind is chewed up, swallowed, and spat out again into something entirely different. At the end of the book, Winston is not even a shell of what he once was. I had previously thought that people only liked 1984 because it calls out surveillance, totalitarianism, and fake news. These things only scrape the surface of the novel. Great read overall.
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
