<div>
  <h1>My Reading</h1>
</div>

<div>
  <p>
    Since finishing up my bachelor's in March, I have taken up the hobby of reading—but solely for my own pleasure this time around. While my reading journey is still budding, it has been very exciting, and I have a robust list of book I'd like to read in the future. Many people claim that they don't like to read, and I believe they are mistaken. What I have learned in my journey so far is that they simply have not yet discovered what they love to read. To help myself discover what I love to read, I have kept a detailed log of what I have been reading, giving ratings for each of my reads.
  </p>
  <p>
    A note on my "notes": My notes are very casual and my arguments may be left entirely unjustified. Treat these notes more as journal entries or reflections rather than formal reviews. I write these notes for myself to look back on, and I am posting them here as well simply as an invitation to thought. Finally, <b><em>SPOILER ALERT</em></b>: My notes are filled with spoilers. I will thus leave them as drop-downs, only visible upon clicking on them. 
  </p>
</div>
