<div class="container py-5">

  <div title="page-title" class="py-4">
    <h1 class="fire-red"><em>Reading</em></h1>
  </div>

  <div title="reading-description" class="py-2">
    <p class="off-white">
      Since finishing up my bachelor's in March, I have taken up the hobby of reading—but solely for my own enrichment this time around. While my reading journey is still budding, I have learned a lot so far, and I have a robust list of books I'd like to read in the future. Many people claim that they don't like to read, and I believe they are mistaken. What I have learned in my journey is that they simply have not yet discovered what they love to read.
    </p>
  </div>

  <div class="row vpadding-thin text-start">
    <div class="col">
      <h3 class="fire-red">Reading Log</h3>
    </div>
    <div class="col-9">
      <p>
        To help myself discover what I love to read and to simply keep track, I have kept a detailed log of what I have been reading, giving ratings for each of my reads.
        <br><br>
        <em><u>A note:</u></em> To see my notes for each book, click on its row to expand it. My notes are very casual and my arguments may be left entirely unjustified. Treat these notes more as journal entries or reflections rather than formal reviews. I write these notes for myself to look back on, and I am posting them here as well simply as an invitation to thought. Finally, <span class="fire-red"><b><em>SPOILER ALERT:</em></b></span> My notes are filled with spoilers. I will thus leave them as drop-downs, only visible once clicked on. 
      </p>
    </div>
  </div>

  <div class="vpadding-thick">
    <table class="table table-striped table-dark table-hover reading-log-table libre-franklin">
      <thead>
        <tr>
          <th scope="col">TITLE</th>
          <th scope="col">DATE</th>
          <th scope="col">RATING</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr data-bs-toggle="collapse" data-bs-target="#notes2" aria-expanded="false" class="clickable-row">
          <td>
            No Country for Old Men<br>by Cormac McCarthy

            <div id="notes6" class="collapse mt-2 text-indent">
              Gosh, this was a boring book. I now know that I don’t like McCarthy’s style at all. His language is stripped-down, understated, minimalist. He describes nothing. No internal dialogue. No views into the hearts of the characters, minus Chigurh and Ed Tom a little bit. The dialogue, without any quotations, is very hard to follow. The plot is sometimes unclear at points because it is so understated. There is no drama (which is maybe the point). I only finished this book so quickly because I wanted to get onto the next thing and not have my money go to waste. I loved the movie, loved it. But this was pretty bad.
              <br><br>
              Redeeming qualities: cool story, western vibes, Texas setting, manly, gunfights.
              <br><br>
              There was one consistent stream of interior monologue: Ed Tom’s reflections at the beginning of the chapters. SOOO boring. Jeez. I skipped most of the last three because I couldn’t get through them.
              <br><br>
              Emotionally distant, stylistically flat, thematically inaccessible, and ultimately a chore to read. Ultra-minimalist, emotionally vacant characters, nihilistic, fatalistic. A drag. I now know that I enjoy books with emotional depth, philosophical/moral weight, rich dialogue, sense of meaning/transformation/triumph. I’m not drawn to flat/sparse prose, detached or unreadable characters, nihilism or moral ambiguity for its own sake, and fiction that mimics reality so closely it forgets to be interesting.
            </div>
      
          </td>
          <td>May 27-28, 2025</td>
          <td>2.5</td>
        </tr>
        <tr data-bs-toggle="collapse" data-bs-target="#notes6" aria-expanded="false" class="clickable-row">
          <td>
            Ordinary Men: Reserve Police Battalion 101 and the Final Solution in Poland<br>by Christopher Browning

            <div id="notes6" class="collapse mt-2 text-indent">
              Very interesting commentary and conclusions, but a very slow read. The first portion of the book informs the reader of the historical context: interesting. Then, we read about Battalion 101’s mass murders, first in Jozefow and then elsewhere. These accounts, at first, were very interesting to read. Indeed very heavy, but cool to see into the minds of these men. Then, the book took a very boring turn. Catalogs and catalogs, numbers and dates, and page-long German names. It got very boring, and I began to skim.
              <br><br>
              Finally, in the “Ordinary Men” chapter, Browning departs from this stale retelling of historical events and provides his own commentary. This is the meat and potatoes of the book. Through illuminating and compelling arguments, he makes the case that myriad factors contribute to the creation of these mass murderers, namely, conformity, deference to authority, indoctrination, etc. Very cool stuff and very applicable to today: anyone can be susceptible to these things, we must shield our minds and moralities from them.
              <br><br>
              Then, Browning defended his work and dissented with one of his most vocal critics, Goldhagen. This was brutally dry, but had interesting points.
              <br><br>
              Overall, this book was pretty dry but had very important and profoundly interesting conclusions.

            </div>
      
          </td>
          <td>May 23-27, 2025</td>
          <td>6.5</td>
        </tr>
        <tr data-bs-toggle="collapse" data-bs-target="#notes2" aria-expanded="false" class="clickable-row">
          <td>
            Animal Farm<br>by George Orwell

            <div id="notes5" class="collapse mt-2 text-indent">
              This was pretty good. When reading, I quickly picked up on the characters of this allegory: Major is Marx/Lenin, Napoleon is Stalin, and so on. It was entertaining to see how the animals on their farm panned out. Around halfway through the book, I thought that, while Orwell’s idea for this book was creative, he had already exhausted it: I got the gist. It wasn’t until the last portion of the book that it gained my deep appreciation. In the end, we see both the pigs and the farmers lord their corrupt power over their farms. Both the communist elites (the pigs) and the human farmers (capitalists) selfishly grasp at power at the expense of others. Animal Farm is not a childish stab at communism; it is a powerful story that displays the evils of corrupt hierarchies everywhere.
            </div>
      
          </td>
          <td>May 20-22, 2025</td>
          <td>7.5</td>
        </tr>
        <tr data-bs-toggle="collapse" data-bs-target="#notes4" aria-expanded="false" class="clickable-row">
          <td>
            The Old Man and the Sea<br>by Ernest Hemingway

            <div id="notes4" class="collapse mt-2 text-indent">
              After reading <em>East of Eden</em>, I wanted to read something very short. This was my first stab at Hemingway, whom I was very excited to read. I had previously heard about the masculine stoicism of Hemingway’s characters, especially in this book. I was looking forward to seeing if he lived up to the hype.
              <br><br>
              Unfortunately, I soon discovered that I do not like Hemingway’s linguistic style. The stripped-down, barren sentences devoid of punctuation left me bored and sometimes confused. His style made the book seem to drag on at a snail’s pace.
              <br><br>
              However, I loved the thematic content of this book. The old Cuban setting, the grit and stoicism of the Old Man, his struggle against the seemingly indomitable marlin. His grace under pressure and desire to press on. The ending was great: after his grueling journey which led to triumph and then ultimately brutal defeat, he calmly sets aside any self-doubt and plans for his next fishing outing. A true man.
            </div>
      
          </td>
          <td>May 18, 2025</td>
          <td>6</td>
        </tr>
        <tr data-bs-toggle="collapse" data-bs-target="#notes3" aria-expanded="false" class="clickable-row">
          <td>
            East of Eden<br>by John Steinbeck

            <div id="notes3" class="collapse mt-2 text-indent">
              Incredible. Perhaps the best book I’ve ever read. <em>East of Eden</em> is a story about good and evil: sin, conquering sin, being engulfed in sin. Redemption, friendship, loss. It’s a story about Cain and Abel, about man and Christ.
              <br><br>
              East of Eden is the story of the fall of man and how we are to live as sinners, where can we look? What can we do? It is a story about Jesus: “And now that you don't have to be perfect, you can be good.” Complete with incredible character arcs, endless great quotes, and a world of life lessons, <em>East of Eden</em> is <em><strong>the</strong></em> story. <em>Thou mayest!</em>
            </div>
      
          </td>
          <td>May 10-17, 2025</td>
          <td>10</td>
        </tr>
        <tr data-bs-toggle="collapse" data-bs-target="#notes2" aria-expanded="false" class="clickable-row">
          <td>
            Endurance: Shackleton's Incredible Voyage<br>by Alfred Lansing

            <div id="notes2" class="collapse mt-2 text-indent">
              Cold, gritty, icy, windy, cold, wet, and cold. Shackleton’s leadership, the endurance of his men, navigational prowess. My eyes were super glued to this book for three days. Such an incredible story, almost unbelievable. And perfectly depicted by Lansing. The use of journal entries was great. Fast-paced, yet you feel the grueling freezing of time for these men. An inspiring read. Every man should read this book.
            </div>

          </td>
          <td>May 7-9, 2025</td>
          <td>9</td>
        </tr>

        <tr data-bs-toggle="collapse" data-bs-target="#notes1" aria-expanded="false" class="clickable-row">
          <td>
            1984<br>by George Orwell
            
            <div id="notes1" class="collapse mt-2 text-indent">
              How do we know what we are told is true? What happens when you go against everyone around you? Authoritarianism, suppression, truth, surveillance. In the second half of the book, we see Winston’s terrible torture and decay. We see a man completely crushed. His mind is chewed up, swallowed, and spat out again into something entirely different. At the end of the book, Winston is not even a shell of what he once was.
              <br><br>
              I had previously thought that people only liked <em>1984</em> because it calls out surveillance, totalitarianism, and fake news. These things only scrape the surface of the novel. Great read overall.

            </div>  
          
          </td>
          <td>March 20-26, 2025</td>
          <td>8.5</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
