/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body {
  font-family: "EB Garamond", serif;
  background-color: #433f3f;
} */

h1, h2, h3 {
  font-family: "EB Garamond", serif;
  color: #ff5a31;
}

p {
  font-family: "Lora", serif;
  color: #433f3f;
  font-size: 20px
}

.fire-red {
  color: #ff5a31;
}

.bg-fire-red {
  background-color: #ff5a31 
}

.dark-grey {
  color: #433f3f;
}

.bg-dark-grey {
  background-color: #433f3f
}

.cream {
  color: #fffacf
}

.bg-cream

/* You can also reset or override Bootstrap classes, for example: */
.container {
  max-width: none;
  padding: 2rem;
}
