/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body {
  font-family: "EB Garamond", serif;
  background-color: #433f3f;
} */

h1, h2, h3 {
  font-family: "EB Garamond", serif;
  color: #e21a41;
}

p, a {
  font-family: "Lora", serif;
  color: #f6f2e5;
  font-size: 20px
}

.garamond {
  font-family: "EB Garamond", serif;
}
.lora {
  font-family: "Lora", serif;
}
.pt-serif {
  font-family: "PT Serif", serif;
}
.libre-franklin {
  font-family: "Libre Franklin";
}
.garamond {
  font-family: "Averia Serif Libre", serif;
}

.large-body {
  font-size: 30px
}

.fire-red {
  color: #e21a41;
}
.bg-fire-red {
  background-color: #e21a41 
}

.dark-grey {
  color: #161618;
}
.bg-dark-grey {
  background-color: #161618
}

.off-white {
  color: #f6f2e5
}
.bg-off-white {
  background-color: #f6f2e5
}

.ice-blue {
  color: #64ffda
}
.bg-ice-blue {
  background-color: #64ffda
}

.warm-gold {
  color: #ffcc66
}
.bg-warm-gold {
  background-color: #ffcc66
}

.lime {
  color: #a8ff60
}
.bg-lime {
  background-color: #a8ff60
}

.sage {
  color: #99c794
}
.bg-sage {
  background-color: #99c794
}

.padded-row {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.thin-row {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.publisher {
  color: #999999;
  font-size: 0.9em;
}

.headshot {
  width: 400px;
  height: auto;
  object-fit: cover;
  /* border-radius: 50%; */
  border-bottom: 3px solid #ff5370; /* your accent color */
  display: block;
  margin: 0 auto 1rem auto; /* center horizontally and add space below */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s ease;
  margin-left: 0;
  margin-top: 4rem
}
.headshot:hover {
  transform: scale(1.02);
}

/* You can also reset or override Bootstrap classes, for example: */
/* .container {
  max-width: none;
  padding: 2rem;
} */
