/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body {
  font-family: "EB Garamond", serif;
  background-color: #433f3f;
} */

h1, h2, h3 {
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #e21a41;
}

p, a {
  font-family: "Lora", serif;
  color: #f6f2e5;
  font-size: 20px;
  line-height: 1.6;
}

.garamond {
  font-family: "EB Garamond", serif;
}
.lora {
  font-family: "Lora", serif;
}
.pt-serif {
  font-family: "PT Serif", serif;
}
.libre-franklin {
  font-family: "Libre Franklin";
}
.garamond {
  font-family: "Averia Serif Libre", serif;
}

.large-body {
  font-size: 30px
}

.fire-red {
  color: #e21a41;
}
.bg-fire-red {
  background-color: #e21a41 
}

.dark-grey {
  color: #161618;
}
.bg-dark-grey {
  background-color: #161618
}

.off-white {
  color: #f6f2e5
}
.bg-off-white {
  background-color: #f6f2e5
}

.ice-blue {
  color: #64ffda
}
.bg-ice-blue {
  background-color: #64ffda
}

.warm-gold {
  color: #ffcc66
}
.bg-warm-gold {
  background-color: #ffcc66
}

.lime {
  color: #a8ff60
}
.bg-lime {
  background-color: #a8ff60
}

.sage {
  color: #99c794
}
.bg-sage {
  background-color: #99c794
}

.vpadding-thick {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.vpadding-thin {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.front-container {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.publisher {
  color: #999999;
  font-size: 0.9em;
  font-family: "Libre Franklin"
}

.author {
  color: #ffcc66;
  font-size: 0.7em;
  font-family: "PT Serif"
}

.headshot {
  width: 400px;
  height: auto;
  object-fit: cover;
  /* border-radius: 50%; */
  border-bottom: 3px solid #e21a41;
  border-top: 3px solid #e21a41;
  display: block;
  margin: 0 auto 1rem auto; /* center horizontally and add space below */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s ease;

  margin: 0
}
.headshot:hover {
  transform: scale(1.02);
}

.profile-container {
  position: relative;
  display: inline-block; /* allows the container to fit to image size */
}

.name-overlay {
  position: static; /* or remove position entirely */
  font-family: "EB Garamond", serif;
  font-size: 8rem;
  font-style: italic;
  color: #e21a41;
  line-height: 0.9; /* adjust line spacing if needed */
  margin: 0; /* remove any margin */
}

.hiking-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem auto; /* center horizontally and add space below */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s ease;
  margin-left: 0;
  margin-top: 1rem
}

.gallery {
  width: auto;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem auto; /* center horizontally and add space below */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s ease;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.gallery:hover {
  transform: scale(1.02);
}

.gallery-career {
  width: 100%;
  aspect-ratio: 4 / 3; /* or 3 / 4 if you want taller images */
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s ease;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.gallery-career:hover {
  transform: scale(1.02);
}

.caption {
  color: #999999;
  font-size: 0.8em;
  font-family: "Libre Franklin";
}

.bg-modal-dark .modal-content {
  background-color: #161618; 
  color: #f6f2e5; 
}


/* .modal-content {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  color: #f6f2e5;
} */

.reading-log-table {
  width: 70%;           /* narrower than container */
  margin: 0 auto;       /* center horizontally */
}


.legend-text {
  color: #f6f2e5;
  font-family: "EB Garamond";
  font-style: normal;
  text-align: center;
}

.legend-box {
  border-bottom: 2px solid #e21a41;
  text-align: center;
}

.book-title {
  color: #f6f2e5;
  font-family: "EB Garamond";
  font-style: normal;
  text-align: left;
}

.book-rating {
  color: #f6f2e5;
  font-family: "EB Garamond";
  font-style: normal;
  text-align: center;
}

.table p, 
.table a{
  color: white;
  font-family: "Libre Franklin";
  text-align: left;
  text-indent: 2em;
  font-size: 1rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.notes-border {
  border-top: 1px solid #e21a41;
  border-bottom: 1px solid #e21a41;
}

.clickable-row {
  cursor: pointer;
}

/* You can also reset or override Bootstrap classes, for example: */
/* .container {
  max-width: none;
  padding: 2rem;
} */
