<div class="container py-5">

  <div title="header-career">
    <h1 class="fire-red py-4"><em>Career</em></h1>
  </div>

  <div title="baseball" class="py-4">
    <h3 class="fire-red"><em>My Baseball Journey</em></h3>

    <div class="row pb-2 justify-content-evenly">
      <div class="col-12 col-md-5 text-center mb-3 px-5">
        <%= image_tag "career/baseball-1.JPG", alt: "Photo of Wilson Cunningham", class: "float-start gallery-career" %>
        <br>
        <p class="caption text-end">
          Credit: Freek Bouw
        </p>
      </div>
      <div class="col-12 col-md-5 text-center mb-3 px-5">
        <%= image_tag "career/baseball-2.jpg", alt: "Photo of Wilson Cunningham", class: "float-end gallery-career" %>
        <br>
        <p class="caption text-end">
          Credit: Rich Biesterfield
        </p>
      </div>
    </div>

    <p>
      I've played baseball for almost my whole life and I’ve had the privilege of pursuing a career as a professional baseball player, a dream I’ve carried since I was a kid. Out of high school, I was drafted by the Chicago Cubs in the 2021 MLB Draft. The Cubs and I were able to come to a unique agreement: I would still be able to pursue my education full-time while still playing in their Minor League organization—a detail in my contract that has been fundamental to my personal success in these past years. 
    </p>
    <p>
      Spending extended offseasons at school and away from the coaching and resources (and catch partners!) was frustrating at times, as I felt that I was falling behind in my performance. That being said, I am very grateful for my time at UChicago; I made some amazing friends, grew deeper in my faith, unlocked myriad opportunities, and I am now much wiser and resilient.
    </p>
    <p>
      Now that I've graduated, I am giving baseball my best shot. With so many unknowns, I don't know how far baseball will take me, but I am doing all that I can to take my fullest advantage of this opportunity while it still lasts.
    </p>
  </div>

  <div title="features" class="py-4">
    <div class="row vpadding-thin text-start">
      <div class="col">
        <h3 class="fire-red"><em>Featured In</em></h3>
      </div>
      <div class="col-9">
        <p>
          <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.chicagotribune.com/2022/07/23/the-unique-dual-life-of-brainiac-pitcher-wilson-cunningham-a-cubs-minor-leaguer-and-full-time-university-of-chicago-student/" target="_blank">
          "The Unique Dual Life of ‘Brainiac’ Pitcher Wilson Cunningham"
          </a>
          <br>
          <span class="publisher">— Chicago Tribune</span>
        </p>
      </div>
    </div>
    <div class="row vpadding-thin text-start">
      <div class="col"> 
      </div>
      <div class="col-9">
        <p>
          <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://news.uchicago.edu/story/cubs-prospect-pitcher-wilson-cunningham-balances-rigorous-uchicago-college-education-baseball-training" target="_blank">
          "Cubs Prospect Balances Rigorous UChicago College Education With Baseball Training"
          </a>
          <br>
          <span class="publisher">— UChicago News</span>
        </p>
      </div>
    </div>
    <div class="row vpadding-thin text-start">
      <div class="col">
      </div>
      <div class="col-9">
        <p>
          <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.imsi.institute/podcast/wilson-cunningham-on-math-baseball-and-the-cubs/" target="_blank">
          "Wilson Cunningham on Math, Baseball, and the Cubs" (Podcast)
          </a>
          <br>
          <span class="publisher">— Institute for Mathematical and Statisctical Innovation</span>
        </p>
      </div>
    </div>
    <div class="row vpadding-thin text-start">
      <div class="col">
      </div>
      <div class="col-9">
        <p>
          <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://chicagomaroon.com/40794/sports/too-good-for-diii-the-curious-case-of-wilson-cunningham/" target="_blank">
          "Too Good for DIII: The Curious Case of Wilson Cunningham"
          </a>
          <br>
          <span class="publisher">— The Chicago Maroon</span>
        </p>
      </div>
    </div>
  </div>

  <div title="My Academic Interests" class="py-4">
    <h3 class="fire-red py-2"><em>My Academic Interests</em></h3>
    <p>
      I thrive when I am intellectually stimulated. I'm always curious; I love to challenge myself and learn new things. Though my academic interests are broad, I've always been particularly drawn to numbers.
    </p>
    <p>
      At UChicago, I earned my B.S. in Computational and Applied Mathematics, which was a great mix for me: pure math, statistics, and computer science. I was also able to specialize in Finance, which sealed all of my strongest interests into my major and gave me tangible tools for a future career.
    </p>
    <p>
      What made my time at UChicago truly special, though, was the breadth of subjects in the curriculum. Even as a STEM major, I took lots of humanities classes that allowed me to explore my interests beyond math. In those courses, I engaged deeply with history, art, literature, and philosophy, and I became a much stronger writer and thinker because of it.
    </p>
    <p>
      I hope this website can be a genuine reflection of these interests: I'm sharing my passion for reading, I used my STEM skills to code this site from scratch, I spent a lot of time styling it to look just right, and I had a blast creating it.
    </p>
  </div>

  <div title="What's Next" class="py-4">
    <h3 class="fire-red py-2"><em>What's Next</em></h3>
    <p>
      With so many unknowns—injuries, performance, and ever-changing team rosters—I can't realistically predict where my baseball path will lead. So, it's in my best interest to plan for my career beyond playing baseball.
    </p>
    <p>
      Should my baseball career end soon, I plan to pursue a career in finance. At the moment, I haven't decided on a specific role or sector, but I believe fields like quantitative trading and research, equity research, and asset management align best with my interests and strengths.
    </p>
    <p>
      I’m also drawn to many other areas beyond finance, including academia, and I’m constantly exploring new ideas and possibilities. I have a wide range of interests and haven’t settled on just one path (yet!), but that’s part of what excites me about the future.
    </p>
  </div>

</div>
