<div>
  <h1 class="fire-red"><em>Career</em></h1>
</div>

<p>Here are some articles and podcasts that have featured my journey.</p>

<div class="thin-row container text-start">
  <div class="row">
    <div class="col">
      <h3 class="fire-red"><em>Featured In</em></h3>
    </div>
    <div class="col-9">
      <p>
        <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.chicagotribune.com/2022/07/23/the-unique-dual-life-of-brainiac-pitcher-wilson-cunningham-a-cubs-minor-leaguer-and-full-time-university-of-chicago-student/" target="_blank">
        "The Unique Dual Life of ‘Brainiac’ Pitcher Wilson Cunningham"
        </a>
        <br>
        <span class="publisher">— Chicago Tribune</span>
      </p>
    </div>
  </div>
</div>
<div class="thin-row container text-start">
  <div class="row">
    <div class="col"> 
    </div>
    <div class="col-9">
      <p>
        <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://news.uchicago.edu/story/cubs-prospect-pitcher-wilson-cunningham-balances-rigorous-uchicago-college-education-baseball-training" target="_blank">
        "Cubs Prospect Balances Rigorous UChicago College Education With Baseball Training"
        </a>
        <br>
        <span class="publisher">— UChicago News</span>
      </p>
    </div>
  </div>
</div>
<div class="thin-row container text-start">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <p>
        <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.imsi.institute/podcast/wilson-cunningham-on-math-baseball-and-the-cubs/" target="_blank">
        "Wilson Cunningham on Math, Baseball, and the Cubs" (Podcast)
        </a>
        <br>
        <span class="publisher">— Institute for Mathematical and Statisctical Innovation</span>
      </p>
    </div>
  </div>
</div>
<div class="thin-row container text-start">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
      <p>
        <a class="off-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://chicagomaroon.com/40794/sports/too-good-for-diii-the-curious-case-of-wilson-cunningham/" target="_blank">
        "Too Good for DIII: The Curious Case of Wilson Cunningham"
        </a>
        <br>
        <span class="publisher">— The Chicago Maroon</span>
      </p>
    </div>
  </div>
</div>
