<div>
  <h1 class="fire-red"><em>Hiking</em></h1>
</div>

<div>
  <p>
    I have always been passionate about spending time in nature, and hiking has been my favorite way to experience its beauty. I believe that silence is an incredibly underrated thing in our society. ADD MORE.
    <br>
    I've logged the bulk of my outdoor adventures on <a href="https://www.alltrails.com/members/wilson-cunningham" target="_blank">AllTrails</a>. To see what I've been up to on the trails, check out my <a href="https://www.alltrails.com/members/wilson-cunningham" target="_blank">profile</a>. Also, I am <em>always</em> looking for new trails and camping spots. If you have any recommendations, please reach out!
  </p>
</div>
