<div>
  <h1>Hiking</h1>
</div>

<div>
  <p>
    I have always been passionate about spending time in nature, and hiking has been my favorite avenue in experiencing its beauty. ADD MORE.
    <br>
    I've logged the bulk of my outdoor adventures on AllTrails. To see what I've been up to on the trails, check out my profile.
  </p>
</div>
