
<div>
  <div>
    <h2>About Me</h2>
  </div>
  <div>
    <p>
      I’m a professional baseball player, a lifelong learner, and a recent University of Chicago grad. Beyond the field and the classroom, I love spending time outdoors, getting lost in a good book, challenging myself physically, and finding new things to learn. Through theses avenues and beyond, I'm always looking for new ways to grow. This website is my way of sharing the things that I am passionate about. Thanks for stopping by.</p>
  </div>
</div>

<div>
  <div>
    <h2>Contact</h2>
  </div>
  <div>
    <p>For any inquiries, please message me directly on LinkedIn or Instagram.</p>
  </div>
</div>
