
<div class="container d-flex justify-content-between padded-row">
  <%= image_tag "headshot.JPG", alt: "Photo of Wilson Cunningham", class: "headshot" %>
  <div class="name-overlay text-end">
    <div>Wilson</div>
    <div>Cunningham</div>
  </div>
</div>

<!--<div class="profile-container">-->
  <%#= image_tag "me.jpg", alt: "Photo of Wilson Cunningham", class: "my-photo" %>
<!--  <div class="name-overlay">Wilson Cunningham</div>
</div>-->


<div class="padded-row container text-start">
  <div class="row">
    <div class="col">
      <h3 class="fire-red"><em>About Me</em></h3>
    </div>
    <div class="col-9">
      <p>
        I’m a professional baseball player, a lifelong learner, and a recent University of Chicago grad. Beyond the field and the classroom, I love spending time outdoors, getting lost in a good book, challenging myself physically, and finding new things to learn. Through theses avenues and beyond, I'm always looking for new ways to grow.
        <br><br>
        This website is my way of sharing the things that I am passionate about. Thanks for stopping by.
      </p>
    </div>
  </div>
</div>

<div class="padded-row container text-start">
  <div class="row">
    <div class="col">
      <h3 class="fire-red"><em>Contact</em></h3>
    </div>
    <div class="col-9">
      <p class="off-white">
      For any inquiries, please message me directly on <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.linkedin.com/in/wilson-cunningham-b7b4a2223/" target="_blank">LinkedIn</a> or <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"href="https://www.instagram.com/wilsoncunningham_/" target="_blank">Instagram</a>.
      </p>
    </div>
  </div>
</div>
