<div class="container page-content py-5">

  <div class="pt-5">
    <h1 class="sage"><em>My Favorite Hikes</em></h1>
  </div>

  <div class="py-4">
    <p>
      Over the years, I’ve logged a wide range of trails. In curating this list, I aimed for variety:
      lush forests and exposed ridgelines, easy strolls and hard slogs. Some hikes are incredible start to finish; 
      others are classic Type II fun—only appreciated once you’re finally back home on a soft couch. 
      Some I love for their beauty; others, for the sense of achievement. Here are my favorites.
    </p>
  </div>

  <div class="py-4">
    <a href="https://www.alltrails.com/trail/us/california/conness-and-greenstone-lakes-via-saddlebag-lake-trail" class="link-offset-2 link-offset-2-hover link-underline-secondary link-underline-opacity-50 link-underline-opacity-100-hover" target="_blank">
        <h1 class="sage" style="font-style: normal">6. Conness and Greenstone Lakes via Saddlebag Lake</h1>
    </a>
    <h4 class="hike-details">Inyo National Forest, Bennettville, California</h4>
    <h4 class="hike-details">6.6 mi, 1,003 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

  <div class="py-4">
    <h1 class="sage" style="font-style: normal">5. Duck Lake via Emerald Lake</h1>
    <h4 class="hike-details">John Muir Wilderness, Mammoth Lakes, California</h4>
    <h4 class="hike-details">7.9 mi, 1,1791 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

  <div class="py-4">
    <h1 class="sage" style="font-style: normal">5. Kachina Trail</h1>
    <h4 class="hike-details">Coconino National Forest, Flagstaff, Arizona</h4>
    <h4 class="hike-details">10.4 mi, 1,509 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

  <div class="py-4">
    <h1 class="sage" style="font-style: normal">4. The Narrows</h1>
    <h4 class="hike-details">Zion National Park, Utah</h4>
    <h4 class="hike-details">9.5 mi, 695 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

  <div class="py-4">
    <h1 class="sage" style="font-style: normal">3. West Fork of Oak Creek</h1>
    <h4 class="hike-details">Red Rock-Secret Mountain Wilderness, Sedona, Arizona</h4>
    <h4 class="hike-details">6.5 mi, 564 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

  <div class="py-4">
    <h1 class="sage" style="font-style: normal">2. North Mount Elbert Trail</h1>
    <h4 class="hike-details">San Isabel National Forest, Leadville, Colorado</h4>
    <h4 class="hike-details">10.6 mi, 4,472 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

  <div class="py-4">
    <h1 class="sage" style="font-style: normal">1. Crater Lake</h1>
    <h4 class="hike-details">Maroon Bells Snowmall Wilderness, Aspen, Colorado</h4>
    <h4 class="hike-details">3.7 mi, 695 ft elevation gain</h4>
  </div>
  <div>
    <p>
      Very Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hikeVery Cool hike
    </p>
  </div>

</div>
